<!DOCTYPE html>
<html>
  <head>
    <title>WorkProIoT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render partial: "shared/flash_messages", flash: flash %> 
    <% if user_signed_in? %>      
        <%= link_to('Logout', destroy_user_session_path, method: :delete, :class=>"pull-right") %>              
    <% end %>
    <%= yield %>
  </body>
</html>
